body{
    padding-top: 5%;
    background-image: url(v.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    transition: background-image 0.5s ease, background-color 0.5s ease;


}

.oldwebsite-background{
    background-image: url(/oldwebsite.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.slope-background{
    background-image: url(/slope.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.disclaimer-background{
    background-image: url(/disclaimer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.black-background{
    background-image: url(/black.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

 .container{
    text-align: center;
 }

.welcome{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: rgba(0, 0, 0, 0.6);
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    border: solid 3px white;
    border-radius: 15px;
}

.nav {
    background-color: black;
    width: 100%;
    position: fixed; 
    top: 0; 
    left: 0;
}



.nav-bar {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 15px; 
    background-color: black; 
    padding: 10px; 
    margin: 0 auto; 
    box-sizing: border-box; 
}

.btn {
    border: solid white 2px;
    color: white; 
    text-decoration: none; 
    padding: 10px 15px;
    border-radius: 5px; 
    display: inline-block; 
}


.btn:hover {
    background-color: gray; 
    box-shadow: 1px 1px 15px;
  }



.title{
    font-size: 15px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.link{
    color: white;
    transition: color 0.5s ease;
}

.link:hover{
    color: blue;
}

.changelog-text{
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}




.text-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}

.box1, .box2, .box3, .box4{
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    position: relative;
    border-radius: 20px;
    bottom: 200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: transform 0.3s;
}

.info{
    font-size: 12px;
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover{
    transform: scale(1.2);
}


.text-page, p{
    margin: 0;
    font-size: 11px;
}



footer {
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: white;
    padding: 10px;
    width: 100%;
    position: fixed; 
    bottom: 0;
    left: 0;
  }
  
  footer .footer-content {
    display: flex;
    align-items: center; 
    gap: 10px; 
  }
  
  footer img{
    border: none;
    transition: transform 0.5s ease;
  }
  
  footer img:hover{
    transform: scale(1.1);
  }



.q{
    font-size: 20px;
}



 .help{
    color: greenyellow;
    text-decoration-line: none;
    transition: color 0.5s ease;
 }
 
 .help:hover{
    color: blue;
 }

 @media only screen and (max-width: 480px){
    body{
        overflow: visible;
    }

    .container{
        margin-bottom: 150px;
    }

    .title, .changelog-text{
        font-size: 10px;
    }

    .logo{
        display: none;
    }

    .text-page{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        top: 230px;
    }


    .nav-bar {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 10px;
        padding: 10px;
        background-color: black;
        z-index: 2;
    }
    
    .btn {
      height: 40px;  
      width: 100%;   
      background-color: black;
      border: solid white 2px;
      color: white;
      cursor: pointer;
      font-size: 16px;
      text-align: center;
      padding: 0;    
      box-sizing: border-box; 
      overflow: hidden;  
      white-space: nowrap;  
      text-overflow: ellipsis; 
    }
    
  

    }

    .landscapecover{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh; 
        width: 100vw; 
        background: rgba(0, 0, 0, 0.6);
        font-family: monospace;
        text-align: center;
        color: white;
     }

     .landscapecover p{
        font-size: 20px;
     }